*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    align-items: center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-image: url(pictures/bgimage.webp);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.container input{
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin: 20px;
}
.container input:focus{
    outline: none;
    border: 2px solid goldenrod;
}
.container button{
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}
.container button:hover{
    background-color: goldenrod;
    transition: 0.3s;
}